// body of navbar

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// list view options and backshadow
ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  list-style: none;
}

// separate list items options
ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  text-align: justify;
  z-index: 1000;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

// icons
ul li a svg {
  font-size: 30px;
  pointer-events: none;
  opacity: 0.25;
  transition: 0.25s;
}

// list hover effect ion-icon
ul li.active a svg {
  opacity: 1;
}

#marker {
  position: absolute;
  top: 0;
  width: 41px;
  height: 41px;
  transition: 0.5s;
  z-index: 1;
}

#marker::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 40px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 160px #fff;
}

ul li:nth-child(1).active ~ #marker::before {
  background: #ff0000;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 160px #fff;
}
ul li:nth-child(2).active ~ #marker::before {
  background: #ff0000;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 160px #fff;
}
ul li:nth-child(3).active ~ #marker::before {
  background: #ff0000;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 160px #fff;
}
ul li:nth-child(4).active ~ #marker::before {
  background: #ff0000;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 160px #fff;
}
ul li:nth-child(5).active ~ #marker::before {
  background: #ff0000;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 160px #fff;
}
